*               text=auto

*.*ignore       text
.gitattributes  text
*.lock          text -diff
Makefile        text
*.md            text diff=markdown
*.neon          text
*.php           text diff=php
*.xml           text
*.xml.dist      text

#
# Exclude files from exporting
#
/tests            export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/.gitkeep         export-ignore
/CHANGELOG.md     export-ignore
/CONTRIBUTING.md  export-ignore
/Makefile         export-ignore
/*.dist.php       export-ignore
/*.xml.dist       export-ignore
/phpstan.neon     export-ignore
/psalm.xml        export-ignore
